:root {
    box-sizing: border-box;
  }
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  nav {
    text-align: right;
    padding: 20px 10px;
  }
  nav .nav-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
    outline: none;
    padding: 8px;
  }
  nav .nav-icon:hover {
    background-color: rgba(60, 64, 67, 0.08);
  }
  
  nav .nav-link {
    text-decoration: none;
    margin-right: 20px;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.87);
  }
  nav .nav-link:hover {
    text-decoration: underline;
  }
  nav .nav-button {
    background: #1a73e8;
    border: 1px solid transparent;
    color: white;
    margin-left: 8px;
    padding: 9px 23px;
    border-radius: 4px;
    text-decoration: none;
  }
  nav .nav-button:hover {
    background: #1b66c9;
    box-shadow: 0 1px 3px 1px rgba(66, 64, 67, 0.15),
      0 1px 2px 0 rgba(60, 64, 67, 0.3);
  }
  /* main */
  
  .google-logo {
    padding: 10px 0;
    height: 110px;
  }
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    padding: 50px;
  }
  .search-box {
    width: 40vw;
    height: 45px;
    border: 1px solid lightgray;
    border-radius: 23px;
    display: flex;
    align-items: stretch;
  }
  .search-input {
    outline: none;
    border: none;
    background-color: transparent;
    flex-grow: 1;
  }
  .search-icon {
    width: 20px;
    height: 20px;
    color: #9aa0a6;
    fill: currentColor;
    margin-left: 10px;
    margin-top: 10px;
  }
  .input-tool {
    background: url(//www.gstatic.com/inputtools/images/tia.png) no-repeat center;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
  }
  .yAnw3c {
    visibility: hidden;
  }
  .search-image {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 8px;
    cursor: pointer;
  }
  .google-mic {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-top: 8px;
    cursor: pointer;
  }
  .button {
    width: 200px;
    height: 40px;
    border: none;
    margin: 11px 8px;
    padding: 0 16px;
    background-color: #f8f9fa;
    font-size: 0.875rem;
    color: #3c4043;
    text-decoration: none;
  }
  .button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
  }
  .languages {
    font-size: 13px;
    color: #4d5156;
    line-height: 28px;
  }
  .service-item:hover {
    text-decoration: underline;
  }
  .service-item {
    text-decoration: none;
    margin-right: 5px;
    color: #1a0dab;
  }
  /* footer */
  footer .row {
    color: #202124;
    background: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    line-height: 40px;
    padding: 0 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 14px;
  }
  footer .row a {
    margin-right: 12px;
    color: #202124;
    text-decoration: none;
    margin-left: 12px;
  }
  footer .row a:hover {
    text-decoration: underline;
  }
  @media screen and (max-width: 650px) {
    footer .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
  }
  